{% extends "base.html" %}

{% block title %}NovoCert - 서비스{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/service.css') }}">
{% endblock %}

{% block content %}
<div class="service-container">
    {% include 'components/sidebar.html' %}
    
    <div id="pipeline-content">
        {% include 'services/decoy.html' %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/service.js') }}"></script>
{% endblock %} 